.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  padding: 20px;
}
