.billing_address_modal {
}

.add_billing_address_message_or_error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.billing_address_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container_1,
.container_2 {
  display: grid;
  gap: 20px;
}

.is_taxable {
  display: flex;
  gap: 20px;
}
