.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  max-height: 250px;
}

.recent_searches_error {
  height: 200px;
}

.recent_searches {
  display: flex;
  gap: 20px;
}

.recent_search {
  padding: 10px;
  background-color: #fe590011;
  border-radius: 3px;
  border: 1px solid #fe590055;
  display: flex;
  gap: 20px;
  align-items: center;
}

.recent_search:hover {
  cursor: pointer;
}
