.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.error {
  height: 90%;
}

.download_btn {
  background-color: #fff;
  color: blue;
}

.download_btn:disabled {
  background-color: #fff;
  color: gray;
}
