.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container_1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.container_2 {
  height: 80%;
}

.actions {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.list_name {
  color: gray;
  overflow: hidden;
  max-height: 100px;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
