.container {
  display: grid;
}

.container_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  gap: 15px;
}

.container_1_box_1,
.container_1_box_2 {
  height: 300px;
}

.container_1_box_1 iframe,
.container_1_box_2 iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
