.container {
  display: grid;
  gap: 20px;
}

.input_controller {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 15px;
}
